.domination-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.person-container{
    margin-left: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.cart-container{
    margin-left: 20px;
    margin-top: 10px;
}